{% assign default_paths = site.pages | map: "path" %}
{% assign page_paths = site.header_pages | default: default_paths %}

<div class="nav-container ">
  <div class="bar bar--sm visible-xs">
    <div class="container">
      <div class="row">
        <div class="col-xs-3 col-sm-2">
          <a href="/">
            <img class="logo logo-dark" alt="logo" src="{{ "/images/logo-dark.png" | relative_url }}">
            <img class="logo logo-light" alt="logo" src="{{ "/images/logo-light.png" | relative_url }}">
          </a>
        </div>
        <div class="col-xs-9 col-sm-10 text-right">
          <a href="#" class="hamburger-toggle" data-toggle-class="#menu1;hidden-xs">
            <i class="icon icon--sm stack-interface stack-menu"></i>
          </a>
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </div>
  <!--end bar-->
  <nav id="menu1" class="bar bar--sm bar-1 hidden-xs ">
    <div class="container">
      <div class="row">
        <div class="col-md-1 col-sm-2 hidden-xs">
          <div class="bar__module">
            <a href="index.html">
              
              <img class="logo logo-dark" alt="logo" src="{{ "/images/logo-dark.png" | relative_url }}">
              <img class="logo logo-light" alt="logo" src="{{ "/images/logo-light.png" | relative_url }}">
            </a>
          </div>
          <!--end module-->
        </div>
        <div class="col-md-11 col-sm-12 text-right text-left-xs text-left-sm">
          <div class="bar__module">
            {% if page_paths %}
            <ul class="menu-horizontal text-left">
              {% for path in page_paths %}
              {% assign my_page = site.pages | where: "path", path | first %}
              {% if my_page.title %}
              <li class="dropdown">
                <span class=""><a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></span>
              </li>
              {% endif %}
              {% endfor %}
            </ul>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>